@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&display=swap');

*
{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease;
}
.main_box
{
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px aquamarine;
}