.sidebar_grid
{
 background: white;
 box-shadow: 0px 0px 12px 0px rgb(109, 109, 224);
width: 17%;
 height: 100%;
 overflow:auto;



}
.logo
{
  
   cursor: pointer;
   display: flex;
}
.logo img{
 width: 40%;
    margin-right: .5rem;
    border-radius: 2px;
    
}
.name
{
    margin-left:-9.5%;
    margin-top: 14%;
    color: rgb(109, 109, 224);
}
.name_span
{
    color: palegreen;
}
.menu_list
{
    list-style: none;
    
  
}
.list_item 
{
   
    color: gray;
    font-weight: 500;
    cursor: pointer;
    
    
   
}
.list_hover :hover
{
    color:#00FF00;
    transition: 1;
  
    border-left: 5px solid  rgb(109, 109, 224);
    transition: .3s ease;
    font-weight: 600;
    
   
   
}

.icon
{
    margin-right: .5rem;
}
.menu_list .list_item 
{
    
   width: 100%;
   
   margin-bottom: 15%;
  
    line-height: 30px;
   border-top-left-radius:  5px ;
   border-bottom-left-radius:5px ;
   padding-left: 5%;
  
  

}


/*.menu_list .list_item ::before
{
   position: absolute;
   content: "";
   display: flex;
   height: 100%;
   width: 5px;
   bottom: 0;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   background: rgb(109, 109, 224);

}*/
.sidebar_card
{
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;
}
.sidebar_card .icon{
position: absolute;
background: palegreen;
border:10px solid white;
font-size: 3rem;
border-radius: 50%;
top: -8px;
right: 50%;
transform: translate(50%);
z-index: 100;
}
.card_content
{
    position: relative;
padding: 1rem;
padding-top: 2rem;
background:palegreen;
border-radius: 10px;
box-shadow:5px 5px 120px rgb(109, 109, 224);
}
.btn
{
    border: none;
    margin-top: 3.5%;
    padding: .5rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
}
/*.circle1,.circle2
{
    position: absolute;
    background:  rgb(109, 109, 224);
    border-radius: 50%;
   opacity: .6;
}
.circle1
{
    height: 50px;
    width: 50px;
    top:0px;
    left:-2px;
}*/
