body {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
 padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
